:root {
    --primary-color: #951693;
    --color-background:rgb(236, 192, 236);
    --common-color: #e23ae0;
    --left: -999em;
    --opacity: 0;
    --visible: hidden;
}

html, body {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-size: cover;
}

.changeColor {
   color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    width:auto;
    height: 100%;
}

/*Phần active element*/
.active {
    color: var(--primary-color)
} 

/* Phần name song*/
.heading {
    margin: auto;
    width: fit-content;
    position: relative;
}

.playing-header {
    width: fit-content;
    display: flex;
    flex-direction: column;
}

#tittle-heading {
    font-weight: bold;
    font-size: 20px;
    margin-top: 1px;
    position: relative;
    width: 100%;
    text-align: center;
}

#current_playing {
    color: var(--primary-color);
    font-weight: bold;
    align-self: center
}

/* Phần CD */
.cd-thum {
    margin-top: 10px;
    display:flex;
    justify-content:center;
}

.cd-thum img {
    border-radius: 200px;
    width: 150px;
    height: 150px
}

.cd-thum > div {
    display: flex;
    justify-content: center;
}

/* Phần actions*/
.actions-list {
    margin-top:15px;
    display: flex;
   justify-content: center;
}

.size-custom {
    font-size: 18px;
}

.size-custom-playing {
    font-size: 28px;
}

.actions-btn {
    display: flex;
    justify-content: space-around;
}

.vehical-element {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.changeIcon {
    display:none
}


/* Phần process song*/
.process-song {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    accent-color: var(--primary-color)
}

.container-song input[type='range'] {
    width: 100%;
    accent-color: var(--primary-color);
}


/*Phần play-list*/
.li-cursor {
    cursor: pointer;
}

.play-list {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
}


.menu-song {
    width: 90%;
    height: 40px;
    background-color: var(--primary-color);
    color: #fff;
    border-radius:5px;
    margin: 2px 0;
    padding: 14px 15px 15px 15px ;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.menu-song::after {
    position: absolute;
    content: '';
    left: var(--left);
    transform: translateY(10px);
    width: 0;
    height: 0;
    opacity: var(--opacity);
    transition: opacity 2s;
    visibility: var(--visible);
}

.menu-song-avatar img {
    height: 40px;
    width: 40px;
    border-radius: 100px;   
}


 .options-action-single-song {
    display: flex;
    align-items: center;
    position: relative;
}

.function-box {
    position: absolute;
    height: auto;
    width: auto;
    left: -768%;
    top: 18%;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transform: translateX(100%) scaleX(0); /* Bắt đầu từ kích thước 0 */
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.active-display {
    opacity: 1;
    transform: translateX(-4%) scaleX(1); 
    visibility: visible;
    pointer-events: auto;
}

.function-box > select {
    height: 31px;
    border-radius: 7px;
}

.menu-song-name-and-author {
    flex-grow: 1;
    padding: 3px 25px;
    display: flex;
    flex-direction: column;
    width: 150px;   
}

span .option-song-name, span .option-author-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 100%;
}


.option-author-name {
    font-size: 12px;
    margin-top: 3px;
}

.options-action-single-song:hover {
    color: #e400e3;
}

/*Custom width cho các parents*/ 
 .cd-thum >div, .actions-btn
, .container-song, .option-songs {
    width: 300px;
}
 
.option-songs {
    height: 357px;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 auto;
    position: absolute;
    top: 40%;
    padding: 0;
}

ul .option-songs::-webkit-scrollbar {
    width: 10px;
}

/* Track */
ul .option-songs::-webkit-scrollbar-track {
    background:rgb(132, 126, 126); 
  }
   
  /* Handle */
ul .option-songs::-webkit-scrollbar-thumb {
    background: #fff; 
  }
/*Message*/

.toast-warning {
    display:flex;
    justify-content: center;
    opacity: 0; /* Ban đầu toast ẩn đi */
    pointer-events: none;
    position: relative;
    height: 100%;
}

.message-toast {
    width: 300px;
    border: groove;
    background-color: #fff;
    border-radius:5px;
    height: 100%;
}

.message-toast h3 {
    border: groove;
    width: 97%;
    border-width: 2px;
    border-color: black;
    border-radius:5px;
    padding-left:5px;
}

.message-toast h3 {
    margin: 0
}

.color-warning {
    color: red;
}

.content-toast {
    margin-top:30px;
}

/*KeyFrames*/
@keyframes displayToast {
    0%   { bottom:350px;  opacity: 0.5; }
    75%  { bottom:400px;  opacity: 0.8;}
    100% { bottom:400px;  opacity: 1; }
}

@keyframes opacityEffect {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.2;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes displayMessage {
    0% {
        opacity: 0.5;
    }
    25% {
        opacity: 0.7;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0.8;
    }
    90% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
  }
  

.show {
  pointer-events: auto; /* Bật khả năng tương tác với phần tử khi nó hiển thị */
  animation: displayToast 1s forwards; /* Kích hoạt animation */
}

/*Thêm mới song*/
.box-adding-song {
    display: flex;
    justify-content: center;
    position: relative;
    height: 70px;
    width: 100%;
    z-index: 2;
    visibility: hidden;
}

.box-adding-song::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 16px solid #fff;
    border-right: 14px solid transparent;
    border-left: 12px solid transparent;
    bottom: 84%;
    transition: opacity 1s;
    opacity: 0;
    visibility: hidden;
}

.show-after-arrow-down::after {    
    opacity: 1;
    visibility: visible;
    z-index:2;
}

.icon-create i{
    color: #fff;
    display: flex;
    justify-content: center;
    z-index: 2;
}

.icon-create:hover {
    cursor: pointer;
}

.add-song-box {
    border-style: solid;
    border-color: black;
    background-color: #fff;
    position:absolute;
    border-radius:3px;
    padding: 4px;
    top: 10%;
    opacity: 0;
    transition: opacity 1s;
    visibility: hidden;
}

.add-song-box.visible {
    opacity: 1;
    visibility: visible
}


.heading-add-new-song {
  border-bottom: solid;
  border-radius: 3px;
  margin:-4px;
}

.heading-add-new-song i {
    color: red;
    float: right;
}

.heading-add-new-song i:hover {
    cursor: pointer;
}

.heading-add-new-song h4 {
    margin:0;
}

.action-add-new-song {
    margin-top:5px;
    display: flex;
    width: 380px;
    justify-content: space-between
}

.left-section-label {
    display: flex;
    flex-direction: column;
    flex-grow: 5;
}

.right-section-label {
    display: flex;
    flex-direction: column;
    flex-grow: 15;
}

.cover-added-btn {
 margin-top: 8px;
}

#added-song {
    float: right;
}

/*Update btn */

#updated-song {
    float: right;
    display: none;
}

.none-action {
    pointer-events: none;
} 
/*Message khi hover vào name song quá dài*/

.display-full-song-name {
    position: absolute;
    border: var(--common-color);
    width: fit-content;
    height: fit-content;
    border-style: solid;
    transform: translateY(-5px);
    background-color: #fff;
    color: black;
    padding: 5px;
    border-radius: 10px;
    opacity: 0;  /* Start with invisible */
    visibility: hidden;  /* Ensure it's not interactable */
    transition: opacity 2s;
    left: -999em;
}

.display-full-song-name.visible {
    opacity: 1;  /* Make it fully visible */
    visibility: visible;  /* Ensure it's interactable */
    left: 10%;
    transition-timing-function: linear;
}

  
.show-after::after {
    left: 100%;
    border-top: 15px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid var(--common-color);
    opacity: 1;
    transition-timing-function: linear;
    visibility: visible;
}

/** Toast notification as adding*/

.covering-black {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    z-index: 1;
    display: none;
    pointer-events: none;
}

.toast-notification {
    display: flex;
    justify-content: center;
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
}

.show-toast-notify {
    animation: displayMessage 3s ease-in;
}

.toast-detail {
    border-radius: 37px;
    width: 320px;
    height: 225px;
    background-color: #fff;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.toast-detail img {
    width: 100px;
    height: 100px;
}


.toast-detail span {
    margin-top: 20px;
    font-size: 15px;
}

.toast-icon {
    color: green;
}

/*
* Hiển thị detail infor song
*/

.infor-song {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in;
}

.display-infor-song {
    opacity: 1;
    pointer-events: auto;
}


.detail-infor-song {
    width: fit-content;
    height: auto;
    margin: 18% auto;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: #fff;
    border: 2px solid #fff;
}


.detail-infor-song .name-song {
    margin: 5px 0;
}

.add-shadow-text-name {
    text-shadow: 5px 3px 4px #0ef;
}

.add-shadow-text-author {
    text-shadow: 5px 3px 4px red;
}

.detail-infor-song .singer-song {
    margin: 5px 0;
}

.detail-infor-song .close-btn i {
    float: right;
    font-size: 20px;
    color: red;
}


.detail-infor-song .name-song span {
    font-weight: bold;
}

.detail-infor-song .singer-song span {
    font-weight: bold;
}

.detail-infor-song .close-btn i:hover {
    cursor: pointer;
}

/*Cập nhật bài hát*/
#box-up-update {
    width: 100%;
    height: 100px;
    border-radius: 14px;
    overflow: hidden;    
    margin-top: 6px;
    position: relative;
}

#box-up-update:hover .overlay {
   width: 50%;
   height: 50%;
}

#box-up-update:hover .overlay1 {
    width: 50%;
    height: 50%;
 }

 #box-up-update:hover .overlay2 {
    width: 50%;
    height: 50%;
 }

 #box-up-update:hover .overlay3 {
    width: 50%;
    height: 50%;
 }

.overlay {
    position: absolute;
    width: 0;
    height: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    transition: .5s ease;
    top: 0;
    left: 0;
}

.overlay1 {
    position: absolute;
    width: 0;
    height: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    transition: .5s ease;
    right: 0;
    top: 0;
}

.overlay2 {
    position: absolute;
    width: 0;
    height: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    transition: .5s ease;
    left: 0;
    bottom: 0;
}

.overlay3 {
    position: absolute;
    width: 0;
    height: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    transition: .5s ease;
    right: 0;
    bottom: 0;
}

#box-up-update img {
    width: 100%;
    height: 100%;
}

#id-music {
    width: 100%;
    height: 25px;
    margin-top: 9px;
}

#selected-img {
    margin: 17% auto;
    display: inherit;
    transition: .5s ease;
    opacity: 0;
    font-size: 0;
    
}

.center-element {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

#box-up-update:hover #selected-img {
    opacity: 1;
    font-size: 12px;
    position: relative;
    z-index: 1;
}